.edit-enterprise-title {
  position: relative;
  top: 27px;
  right: 20px;
}

.edit-enterprise-field {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.edit-enterpise-background {
  background-color: #FFF6EA;
}

.delete-enterprise-button {
  position: relative;
  left: 270px;
  bottom: 13px;
  background-color: #e50000;
}
