<ion-header>
  <ion-navbar color="primary">
    <ion-title class="edit-enterprise-title">Edit Enterprise</ion-title>
    <button ion-fab mini class="delete-enterprise-button">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="edit-enterpise-background">
  <!-- Form used to edit the information of the enterprise -->
  <form [formGroup]="editEnterpriseForm" (ngSubmit)="submitForm(editEnterpriseForm.value)">
    <br>
    <!-- Used to get the new name provided by the user -->
    <ion-item class="edit-enterprise-field">
      <ion-label floating>Enterprise Name</ion-label>
      <ion-input type="text" [formControl]="editEnterpriseForm.controls['name']"></ion-input>
    </ion-item>
    <br>

    <!-- Used to get the new occupation area provided by the user -->
    <ion-item class="edit-enterprise-field">
      <ion-label floating>Occupation Area</ion-label>
      <ion-input type="text" [formControl]="editEnterpriseForm.controls['occupationArea']"></ion-input>
    </ion-item>
    <br>

    <!-- Used to get the old CNPJ provided by the user -->
    <ion-item class="edit-enterprise-field">
      <ion-label floating>Old CNPJ</ion-label>
      <ion-input type="text" [formControl]="editEnterpriseForm.controls['oldCnpj']"></ion-input>
    </ion-item>
    <br>

    <!-- Used to get the new CNPJ provided by the user -->
    <ion-item class="edit-enterprise-field">
      <ion-label floating>New CNPJ</ion-label>
      <ion-input type="text" [formControl]="editEnterpriseForm.controls['cnpj']"></ion-input>
    </ion-item>
    <br>

    <!--Box used to notify the user about their errors -->
    <div class="error-box" *ngIf="editEnterpriseForm.controls['cnpj'].hasError('CnpjDoesNotHaveRequiredLenght') && editEnterpriseForm.controls['cnpj'].touched">
      Cnpj need to have exactly 14 numbers.
    </div>

    <div class="error-box" *ngIf="editEnterpriseForm.controls['cnpj'].hasError('CnpjIsInvalid') && editEnterpriseForm.controls['cnpj'].touched">
      This cnpj number is not valid.
    </div>

    <!-- Used to check if the password provided matches the password in the database -->
    <ion-item class="edit-enterprise-field">
      <ion-label floating>User Password</ion-label>
      <ion-input type="password" [formControl]="editEnterpriseForm.controls['confirmationPassword']"></ion-input>
    </ion-item>
    <br>

    <!-- Used to render address form -->
    <edit-address [group]="editEnterpriseForm.controls['address'].controls[0]"></edit-address>

    <!-- Used for the user to edit his enterprise -->
    <ion-buttons end>
      <button ion-button type="submit" [disabled]="!editEnterpriseForm.valid">Submit</button>
    </ion-buttons>
    <br>
  </form>
</ion-content>
