<ion-header>
  <ion-navbar>
    <ion-title>Edit Enterprise</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Form used to edit the information of the enterprise -->
  <form [formGroup]="editEnterpriseForm">
    <!-- Used to get the new name provided by the user -->
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [formControl]="editEnterpriseForm.controls['name']"></ion-input>
    </ion-item>
    <br>

    <!-- Used to get the new occupation area provided by the user -->
    <ion-item>
      <ion-label floating>Occupation Area</ion-label>
      <ion-input type="text" [formControl]="editEnterpriseForm.controls['occupationArea']"></ion-input>
    </ion-item>
    <br>

    <!-- Used to get the new CNPJ provided by the user -->
    <ion-item>
      <ion-label floating>CNPJ</ion-label>
      <ion-input type="text" [formControl]="editEnterpriseForm.controls['cnpj']"></ion-input>
    </ion-item>
    <br>

    <!-- Used to check if the password provided matches the password in the database -->
    <ion-item>
      <ion-label floating>User Password</ion-label>
      <ion-input type="password" [formControl]="editEnterpriseForm.controls['userPassword']"></ion-input>
    </ion-item>
    <br>

    <!-- Used to render address form -->
    <edit-address [group]="editEnterpriseForm.controls['address'].controls[0]"></edit-address>

  </form>
</ion-content>
