<ion-content>
  <form [formGroup]="editCpfForm" (ngSubmit)="submitForm(editCpfForm.value)">

    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input type="text" [formControl]="editCpfForm.controls['cpf']" ui-mask="999.999.999-99"></ion-input>
    </ion-item>
    <div *ngIf="editCpfForm.controls['cpf'].value !== null && editCpfForm.controls['cpf'].value.length > 11"> Cpf can't have more then 11 characters </div>
    <div *ngIf="editCpfForm.controls['cpf'].value !== null && editCpfForm.controls['cpf'].value.length < 11"> Cpf can't have less then 11 characters </div>

    <button type="submit" ion-button full >Submit</button>
  </form>
</ion-content>
