  <ion-list [formGroup]="editGender">

    <ion-item>
        <ion-label floating>Gender Identity</ion-label>

        <ion-select (ionChange)="onChangeSelectGender(editGender.controls.genderIdentity.value)" [(ngModel)]="opitionChecked" [formControl]="editGender.controls['genderIdentity']">
          <ion-option value="male"> Male </ion-option>
          <ion-option value="female"> Female </ion-option>

          <ion-option *ngIf="opitionChecked !== 'male' && opitionChecked !== 'female' "  value="{{ theOtherGender}}"> Other </ion-option>
          <ion-option *ngIf="opitionChecked == 'male' || opitionChecked == 'female' "  value="other"> Other </ion-option>

          <!-- <ion-option *ngIf="(editGender.controls.genderIdentity.value !== 'male' && editGender.controls.genderIdentity.value !== 'female')"
              [value]="">  </ion-option> -->

          <!-- <ion-option *ngIf="(userToken.gender.genderIdentity  == 'male' || userToken.gender.genderIdentity  == 'female')"
                  value="other"> Othera </ion-option> -->

        </ion-select>

        <!-- <ion-select *ngIf="!userToken.gender" [formControl]="editGender.controls['genderIdentity']">
          <ion-option value="male"> Male </ion-option>
          <ion-option value="female"> Female </ion-option>
          <ion-option value="{{editGender.controls.genderIdentity.value}}"> Other </ion-option>

          <ion-option *ngIf="(editGender.controls.genderIdentity.value  !== 'male' && editGender.controls.genderIdentity.value  !== 'female')"
              value="othe"> Others </ion-option>

          <ion-option *ngIf="(editGender.controls.genderIdentity.value  == 'male' || editGender.controls.genderIdentity.value  == 'female')"
                  value="other"> Othera </ion-option>

        </ion-select> -->




    </ion-item>


    <ion-item *ngIf="isOtherGender">
      <ion-label floating>Detail</ion-label>
      <ion-input type="text" (input)="onChangeInputGender(editGender.controls.genderIdentity.value)" [ngModel]="opitionChecked" [formControl]="editGender.controls['genderIdentity']"></ion-input>
    </ion-item>

    <!-- <ion-item *ngIf="editGender.controls.genderIdentity.value !== 'male' && editGender.controls.genderIdentity.value !== 'female' && editGender.controls.genderIdentity.value !== null">
      <ion-label floating>Detail</ion-label>
      <ion-input type="text" [formControl]="editGender.controls['genderIdentity']"></ion-input>
    </ion-item> -->

  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label floating>Pronoun</ion-label>
        <ion-select *ngIf="userToken.gender" [(ngModel)]="userToken.gender.pronoun" [formControl]="editGender.controls['pronoun']">
          <ion-option value="male"> Male </ion-option>
          <ion-option value="female"> Female </ion-option>
          <ion-option value="neutral"> Neutral </ion-option>
        </ion-select>

        <ion-select *ngIf="!userToken.gender" [formControl]="editGender.controls['pronoun']">
          <ion-option value="male"> Male </ion-option>
          <ion-option value="female"> Female </ion-option>
          <ion-option value="neutral"> Neutral </ion-option>
        </ion-select>

    </ion-item>
  </ion-list>
