<ion-header>
  <ion-navbar color="primary">
    <ion-title>User Homepage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding class="background-class">
  <ion-searchbar></ion-searchbar>
  <ion-grid>
      <ion-row>
        <ion-col>
          <button icon-only class="page-home-tile" [navPush]="editMain">
                      <ion-icon name='contact'></ion-icon>
                    </button>
          <button ion-button color="primary" clear small [navPush]="editMain">
            Update infos
          </button>
        </ion-col>

        <ion-col center>
           <button icon-only class="page-home-tile" [navPush]="listEnterprises">
            <ion-icon name='briefcase'></ion-icon>
          </button>

          <br>
          <button ion-button color="primary" clear small [navPush]="listEnterprises">
              List Enterprises
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>
