.background-class {
  background-color: #FFF6EA;
}


.home-title{
  align-self: center;
}
.page-home-tile {
  background-color: #FF7400;
  color: #F0EFF5;
  height: 80px;
  width: 100px;
  position: relative;
 }

ion-grid{
  margin-top: 10%;
}

ion-col{
    text-align: center;
}
