<ion-header>
  <ion-navbar color="primary">
    <ion-title class="home-title">User Homepage</ion-title>
    <ion-buttons end>
      <a color="secondary" (click)="logOut()">LOG OUT</a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="background-class">
  <ion-searchbar></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button icon-only class="page-home-tile" [navPush]="editMain">
             <ion-icon name="contact"></ion-icon>
         </button>
        <br>
        <button ion-button color="primary" clear small [navPush]="editMain">
           Update Profile
         </button>
      </ion-col>

       <ion-col>
         <button icon-only class="page-home-tile" [navPush]="listEnterprises">
            <ion-icon name='briefcase'></ion-icon>
          </button>
         <br>
         <button ion-button color="primary" clear small [navPush]="listEnterprises">
            My Enterprises
          </button>
       </ion-col>
     </ion-row>

   </ion-grid>


</ion-content>
