.content-class {
  background-image: url("../../../assets/img/signIn_background.jpg");
  background-size: cover;
}

.card-class {
  background: transparentize(#b3b3b3, .2);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  top: 30%;
}

.title-class {
  padding-right: 18%;
  padding-bottom: 0%;
  font-family: Arial;
  text-align: center;
}
