<ion-header>
  <!-- Navbar used for the user to go back to home page  -->
  <ion-navbar color='primary'>
    <ion-title class="title-class">Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-class">
  <ion-card color='gray' class="card-class">
    <ion-card-header>Fill in with your information</ion-card-header>
    <!-- Form used for the registration of the user -->
    <form [formGroup]="signUpForm" (ngSubmit)="submitForm(signUpForm.value)">

      <!-- Input for the first name of the user used on registration-->
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input id="first-name" type="text" placeholder="First Name" [formControl]="signUpForm.controls['firstName']" maxLength="15"></ion-input>
      </ion-item>
      <div class="error-box" *ngIf="signUpForm.controls['firstName'].hasError('required') && signUpForm.controls['firstName'].touched">
        First name is required!
      </div>
      <br>

      <!-- Input for the last name of the user used on the registration -->
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input id="last-name" type="text" placeholder="Last Name" [formControl]="signUpForm.controls['lastName']" maxLength="15"></ion-input>
      </ion-item>
      <div class="error-box" *ngIf="signUpForm.controls['lastName'].hasError('required') && signUpForm.controls['lastName'].touched">
        Last name is required!
      </div>
      <br>

      <!-- Input for the email of the user used on the registration -->
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input id="email-register" type="text" placeholder="E-mail" [formControl]="signUpForm.controls['email']"></ion-input>
      </ion-item>
      <div class="error-box" *ngIf="signUpForm.controls['email'].hasError('required') && signUpForm.controls['email'].touched">
        E-mail is required!
      </div>
      <div class="error-box" *ngIf="signUpForm.controls['email'].hasError('ValidateEmailOutput') && signUpForm.controls['email'].touched">
        Type a valid e-mail.
      </div>
      <br>

      <!-- Input for the password of the user used on the registrations -->
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input id="password-register" type="password" placeholder="Password" [formControl]="signUpForm.controls['password']"></ion-input>
      </ion-item>
      <div class="error-box" *ngIf="signUpForm.controls['password'].hasError('required') && signUpForm.controls['password'].touched">
        Password is required!
      </div>
      <div class="error-box" *ngIf="signUpForm.controls['password'].hasError('ValidatePasswordOutput') && signUpForm.controls['password'].touched">
        Your password must have at least one digit, one upper case letter and one lower case letter.
      </div>
      <br>

      <button id="sign-up-submit-button" type="submit" ion-button full [disabled]="!signUpForm.valid">Submit</button>
    </form>
  </ion-card>

</ion-content>
