<ion-list [formGroup]="editRg">
  <ion-item>
    <ion-label floating>RG Number</ion-label>

    <ion-input type="text" *ngIf="userToken.rg" [(ngModel)]="userToken.rg.rgNumber" [formControl]="editRg.controls['rgNumber']"></ion-input>

    <ion-input type="text"  *ngIf="!userToken.rg" [formControl]="editRg.controls['rgNumber']"></ion-input>

  </ion-item>

  <div *ngIf="editRg.controls['rgNumber'].value !== null && editRg.controls['rgNumber'].value.length > 15"> Rg number can't have more then 15 characters </div>
  <div *ngIf="editRg.controls['rgNumber'].value !== null && editRg.controls['rgNumber'].value.length < 5"> Rg number can't have less then 5 characters </div>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label floating>RG Expedition State</ion-label>

    <ion-select *ngIf="userToken.rg" [(ngModel)]="userToken.rg.rgExpeditionState" [formControl]="editRg.controls['rgExpeditionState']">
        <ion-option *ngFor="let state of states" [value]="state.initials">{{ state.name }}</ion-option>
    </ion-select>

    <ion-select *ngIf="!userToken.rg" [formControl]="editRg.controls['rgExpeditionState']">
        <ion-option *ngFor="let state of states" [value]="state.initials">{{ state.name }}</ion-option>
    </ion-select>

    </ion-item>
</ion-list>
