<ion-list [formGroup]="editRg">
    <ion-item>
        <ion-label floating>RG Number</ion-label>
          <ion-input type="text" [formControl]="editRg.controls['rgNumber']"></ion-input>
    </ion-item>

</ion-list>

<ion-list>
  <ion-item>
    <ion-label floating>RG Expedition State</ion-label>
      <ion-select [formControl]="editRg.controls['rgExpeditionState']">
        <ion-option value="ac"> Acre </ion-option>
        <ion-option value="al"> Alagoas </ion-option>
        <ion-option value="ap"> Amapá </ion-option>

        <ion-option value="am"> Amazonas </ion-option>
        <ion-option value="ba"> Bahia </ion-option>
        <ion-option value="ce"> Ceará </ion-option>

        <ion-option value="df"> Distrito Federal </ion-option>
        <ion-option value="es"> Espírito Santo </ion-option>
        <ion-option value="go"> Goiás </ion-option>

        <ion-option value="ma"> Maranhão </ion-option>
        <ion-option value="mt"> Mato Grosso </ion-option>
        <ion-option value="ms"> Mato Grosso do Sul </ion-option>

        <ion-option value="mg"> Minas Gerais </ion-option>
        <ion-option value="pa"> Pará </ion-option>
        <ion-option value="pb"> Paraíba </ion-option>

        <ion-option value="pr"> Paraná </ion-option>
        <ion-option value="pe"> Pernambuco </ion-option>
        <ion-option value="pi"> Piauí </ion-option>

        <ion-option value="rj"> Rio de Janeiro </ion-option>
        <ion-option value="rn"> Rio Grande do Norte </ion-option>
        <ion-option value="rs"> Rio Grande do Sul </ion-option>

        <ion-option value="ro"> Rondônia </ion-option>
        <ion-option value="rr"> Roraima </ion-option>
        <ion-option value="sc"> Santa Catarina </ion-option>

        <ion-option value="sp"> São Paulo </ion-option>
        <ion-option value="se"> Sergipe </ion-option>
        <ion-option value="to"> Tocantis </ion-option>

      </ion-select>
    </ion-item>
</ion-list>
