<ion-list [formGroup]="editAddress">
  <ion-item>
    <ion-label floating>CEP</ion-label>

      <ion-input type="text" *ngIf="userToken.address" [(ngModel)]="userToken.address.cep" [formControl]="editAddress.controls['cep']"></ion-input>

      <ion-input type="text" *ngIf="!userToken.address" [formControl]="editAddress.controls['cep']"></ion-input>
  </ion-item>

  <div *ngIf="editAddress.controls['cep'].value !== null && editAddress.controls['cep'].value.length < 8"> Cpf can't have less then 8 characters </div>
  <div *ngIf="editAddress.controls['cep'].value !== null && editAddress.controls['cep'].value.length > 8"> Cep can't have more then 8 characters </div>

</ion-list>

<ion-list>
  <ion-item>
    <ion-label floating>City</ion-label>

      <ion-input type="text" *ngIf="userToken.address" [(ngModel)]="userToken.address.city" [formControl]="editAddress.controls['city']"></ion-input>

      <ion-input type="text" *ngIf="!userToken.address" [formControl]="editAddress.controls['city']"></ion-input>

  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label floating> State</ion-label>
      <ion-select *ngIf="userToken.address" [(ngModel)]="userToken.address.state" [formControl]="editAddress.controls['state']">
        <ion-option *ngFor="let state of states" [value]="state.initials">{{ state.name }}</ion-option>
      </ion-select>

      <ion-select *ngIf="!userToken.address" [formControl]="editAddress.controls['state']">
        <ion-option *ngFor="let state of states" [value]="state.initials">{{ state.name }}</ion-option>
      </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label floating>Neighbourhood</ion-label>
      <ion-input type="text" *ngIf="userToken.address" [(ngModel)]="userToken.address.neighbourhood" [formControl]="editAddress.controls['neighbourhood']"></ion-input>

      <ion-input type="text" *ngIf="!userToken.address" [formControl]="editAddress.controls['neighbourhood']"></ion-input>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label floating>Number</ion-label>
      <ion-input type="text" *ngIf="userToken.address" [(ngModel)]="userToken.address.number" [formControl]="editAddress.controls['number']"></ion-input>

      <ion-input type="text" *ngIf="!userToken.address" [formControl]="editAddress.controls['number']"></ion-input>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label floating>Complement</ion-label>
      <ion-input type="text" *ngIf="userToken.address" [(ngModel)]="userToken.address.complement" [formControl]="editAddress.controls['complement']"></ion-input>

      <ion-input type="text" *ngIf="!userToken.address" [formControl]="editAddress.controls['complement']"></ion-input>
  </ion-item>
</ion-list>
