<ion-content>
  <form [formGroup]="editAdditionalInformationForm" (ngSubmit)="submitForm(editAdditionalInformationForm.value)">

  <h1>Additional Information</h1>
  <ion-list>
    <ion-item>
        <ion-label>Birthdate</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [formControl]="editAdditionalInformationForm.controls['birthdate']"></ion-datetime>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Phone</ion-label>
        <ion-input type="text" [formControl]="editAdditionalInformationForm.controls['phone']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="editAdditionalInformationForm.controls['phone'].hasError('ValidatePhoneOutput') && editAdditionalInformationForm.controls['phone'].touched">
      Your password must have at least ten digits, with only numeric characters.
    </div>
  </ion-list>

    <button type="submit" ion-button full >Submit</button>
  </form>
</ion-content>
