<ion-list [formGroup]="editAdditionalInformation">
  <ion-item>
    <ion-label floating>Birthdate</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [formControl]="editAdditionalInformation.controls['birthdate']"></ion-datetime>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label floating>Phone</ion-label>
      <ion-input type="text" [formControl]="editAdditionalInformation.controls['phone']"></ion-input>
  </ion-item>
  <div class="error-box" *ngIf="editAdditionalInformation.controls['phone'].hasError('ValidatePhoneOutput') && editAdditionalInformation.controls['phone'].touched">
    Your password must have at least ten digits, with only numeric characters.
  </div>
</ion-list>
