  .content-class{
    background-image: url("../../../assets/img/signIn_background.jpg");
    background-size: cover;
  }

  .card-class{
    background: transparentize(#b3b3b3, .2);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    top: 30%;
  }
