.background-class {
  background-color: #FFF6EA;
}

.card{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  top: 30%;
}

.input-class {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.button-class {
  position: relative;
  left: 10%;
  width: 80%;
 }

.error-box {
  position: relative;
  left: 10%;
  width: 80%;
}
