
  ion-title {
    padding-right: 3%;
    padding-bottom: 0%;
    font-family: Arial;
    text-align: center;
  }

  ion-card-header {
    text-align: center;
    font-size: 100px;
  }

 .card{
    margin-left: auto;
    margin-right: auto;
   width: 80%;
 }
  .input-class {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
