
<ion-header>

  <ion-navbar>
    <ion-title>Sign In</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- Form used for the user to access his account -->
  <form [formGroup]="signInForm" (ngSubmit)="submitForm(signInForm.value)">

    <!-- Email input used for the user to access his account -->
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input id="email" type="text" [formControl]="signInForm.controls['email']"></ion-input>
    </ion-item>

    <!-- Password input used for the user to access his account -->
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input id="password" type="password" [formControl]="signInForm.controls['password']"></ion-input>
    </ion-item>

    <button id="sign-in-button" type="submit" ion-button [disabled]="!signInForm.valid">Submit</button>
    <button type="register" ion-button [navPush]="signUp">Register</button>
  </form>
</ion-content>
