
  ion-title {
    padding-right: 3%;
    padding-bottom: 0%;
    font-family: Arial;
    text-align: center;
  }

  ion-card-header {
    text-align: center;
    font-size: 100px;
  }

  .content-class{
    background-image: url("../../../assets/img/signIn_background.jpg");
    background-size: cover;
  }

 .card{
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   top: 30%;
 }
  .input-class {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .button-class {
    position: relative;
    left: 10%;
    width: 80%;
  }

  .link-class {
    left: 70%;
  }
