<ion-content padding class="background-class">
  <form [formGroup]="editForm" (ngSubmit)="submitForm(editForm.value)">
    <ion-slides>

      <ion-slide>
        <ion-header>
          <ion-navbar color="primary">
            <ion-title>Document Information</ion-title>
          </ion-navbar>
        </ion-header>
          <br><br><br><br><br><br>
          <edit-rg [group] = "editForm.controls['documents'].controls[0]"></edit-rg>
          <edit-cpf [group] = "editForm.controls['documents'].controls[1]"></edit-cpf>
      </ion-slide>

      <ion-slide>
        <ion-header>
          <ion-navbar color="primary">
            <ion-title>Address Information</ion-title>
          </ion-navbar>
        </ion-header>
          <br><br><br><br><br><br>
          <edit-address [group] = "editForm.controls['address'].controls[0]"></edit-address>
      </ion-slide>

      <ion-slide>
        <ion-header>
          <ion-navbar color="primary">
            <ion-title>Additional Information</ion-title>
          </ion-navbar>
        </ion-header>
        <br><br><br><br><br><br>
        <edit-additional-information [group] = "editForm.controls['personalInformation'].controls[0]"></edit-additional-information>
        <edit-gender [group] = "editForm.controls['personalInformation'].controls[1]" ></edit-gender>

          <button type="submit" ion-button full >Submit</button>
      </ion-slide>

    </ion-slides>
  </form>

</ion-content>
